{{#partial "contenido" }}


    <div class="bg-image">
        <div class="error-title">
            404<br>
            Página no <br>
            encontrada
        </div>
    </div>


    <style>
        .bg-image{
           background-image: url('https://i.ibb.co/dPQkCfX/Pile-of-messy-girl-or-lady-clothes-gotten-out-of-closet-Untidy-cluttered-woman-wardrobe-Flat-vector.jpg');
           background-size: contain;
           background-position: center center;
           background-repeat: no-repeat;
           height: 80%;
           margin-bottom: 10px;
        }
        .error-title{
            font-family: "Trebuchet MS", Verdana, sans-serif;
            color: #81b1cb;
            font-weight: bold;
            font-size: 70px;
            margin-left: 15px;
        }
    </style>
{{/partial}}
{{> layoutLanding.hbs}}