{{#partial "contenido" }}


    <div class="bg-image">
        <div class="error-title">
            403<br>
            Acceso <br>
            denegado
        </div>
    </div>


    <style>
        .bg-image{
           background-image: url('https://i.ibb.co/qjmSZv7/Woman-choosing-dress-from-wardrobe-flat-vector-illustration-Young-lady-standing-near-opened-closet-P.jpg');
           background-size: contain;
           background-position: center center;
           background-repeat: no-repeat;
           height: 80%;
           margin-bottom: 10px;
        }
        .error-title{
            font-family: "Trebuchet MS", Verdana, sans-serif;
            color: #81b1cb;
            font-weight: bold;
            font-size: 70px;
            margin-left: 15px;
        }
    </style>
{{/partial}}
{{> layoutLanding.hbs}}