{{#partial "contenido" }}
    <div class="container">
        <h2>No tienes permiso para acceder aquí</h2>
    </div>

    <style>
        .container{
            background-color: #23a1e5;
        }
    </style>
{{/partial}}
{{> layoutLanding.hbs}}