{{#partial "contenido" }}

    <div class="bg-image">

    </div>


    <style>
        .bg-image{
           background-image: url('https://i.ibb.co/qjmSZv7/Woman-choosing-dress-from-wardrobe-flat-vector-illustration-Young-lady-standing-near-opened-closet-P.jpg');
           background-size: contain;
           background-position: center center;
           background-repeat: no-repeat;
           height: 80%;
           margin-bottom: 10px;
        }
    </style>
{{/partial}}
{{> layoutLanding.hbs}}