{{#partial "contenido" }}
<div class="mt-4 pt-4 d-none d-md-flex col-md-4 col-lg-12 d-flex justify-content-start justify-content-center">
    <h1 class="login-heading font-weight-light text-lg-left mt-4 mb-0">Mis atuendos aceptados</h1>
</div>


<hr class="mt-2 mb-5" />

    <div class="row text-center text-lg-left">
    {{#each }}
    <div class="card" style="width: 10rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Prenda {{id}}</p>
      </div>
    </div>
    {{/each}}
    </div>
{{/partial}}

{{> layout.hbs}}