{{#partial "contenido" }}
<div class="mt-4 pt-4 d-none d-md-flex col-md-4 col-lg-12 d-flex justify-content-start justify-content-center">
    <h1 class="login-heading font-weight-light text-lg-left mt-4 mb-0">Mis Guardarropas</h1>
</div>
        

    <hr class="mt-2 mb-5"/>

        <div class="container-fluid mt-5 col-lg-4">
            <div class="row no-gutter ml-4 mr-4 pr-2">
                    <a href="/misGuardarropas/nuevo" type="button" class="btn btn-success btn-lg btn-block">Agregar guardarropas</a>
                    {{#each guardarropas}}
                        <div class="mt-4 pt-4 d-none d-md-flex col-md-4 col-lg-12 d-flex justify-content-center">
                            <a href="/misGuardarropas/{{id}}" type="button" class="btn btn-primary btn-lg btn-block">Guardarropas {{id}}</a>
                        </div>
                    {{/each}}
            </div>
        </div>
{{/partial}}

{{> layout.hbs}}