{{#partial "contenido" }}
    <div class="mt-4 pt-4 d-none d-md-flex col-md-4 col-lg-12 d-flex justify-content-start justify-content-center">
        <h1 class="login-heading font-weight-light text-lg-left mt-4 mb-0">Perfil</h1>
    </div>

    <hr class="mt-2 mb-5" />

    <div class="container-fluid mt-15">
        <div class="row no-gutter ml-4 mr-4 pr-2">
            <div class="col col-md-6">
                <div class="ml-5 d-none d-md-flex col-md-4 col-lg-6 d-flex justify-content-center">
                    <img height="300" width="300" src={{rutaFotoPerfil}} alt=""
                        class="rounded-circle">
                </div>
            </div>
            <div class="col col-md-6">
                <div class="row">
                    <div class="mt-4 d-none d-md-flex col-md-4 col-lg-6 d-flex">
                        Nombre: {{nombre}}
                    </div>
                </div>
                <div class="row">
                    <div class="mt-4 d-none d-md-flex col-md-4 col-lg-6 d-flex">
                        Email: {{mail}}
                    </div>
                </div>
                <div class="row">
                    <div class="mt-4 col col-md-6">
                        Tu tipo de suscripcion: {{subscripcion.nombreSuscripcion}}
                    </div>
                    <div class="mt-4 col col-md-6">
                        <a id="actualizarSuscripcion" href="/actualizarSuscripcion" type="button"
                            class="btn btn-primary btn-sm btn-block">Actualiza tu suscripcion </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}