{{#partial "contenido" }}
<div class="container-fluid mt-5">
      <div class="mt-4 pt-4 d-none d-md-flex col-md-4 col-lg-12 d-flex justify-content-start justify-content-center">
        <h1 class="login-heading font-weight-light text-lg-left mt-4 mb-0">Perfil</h1>
      </div>
      
      <hr class="mt-2 mb-5" />

  <div class="row no-gutter ml-4 mr-4 pr-2">


  <div class="mt-4 d-none d-md-flex col-md-4 col-lg-6 d-flex justify-content-center">

  <img height="100" width="100" src="https://www.freeiconspng.com/uploads/flat-blue-home-icon-4.png" alt="" class="rounded-circle">


  </div>
  
  <div class=" mt-4 d-none d-md-flex col-md-4 col-lg-6 d-flex justify-content-center">



  </div>

  <div class="mt-4 d-none d-md-flex col-md-4 col-lg-6 d-flex justify-content-center">

  Email: {{mail}}

  </div>


  <div class="d-none d-md-flex col-md-4 col-lg-6 d-flex justify-content-center">


 
  <a class="btn btn-primary  btn-lg btn-block" href="/misGuardarropas" role="button">Mis Guardarropas</a>

  </div>
  <div class="mt-4 d-none d-md-flex col-md-4 col-lg-6 d-flex justify-content-center">

  Mail


  </div>
  <div class="d-none d-md-flex col-md-4 col-lg-6 d-flex justify-content-center">

  <a class="btn btn-primary btn-lg btn-block mt-4" href="/misEventos" role="button">Mis Eventos</a>

  </div>
  <div class="mt-4 d-none d-md-flex col-md-4 col-lg-6 d-flex justify-content-center">




  </div>
  <div class="d-none d-md-flex col-md-4 col-lg-6 d-flex justify-content-center">


   <a class="btn btn-primary btn-lg btn-block mt-4" href="/puntuarAtuendos" role="button">Puntuar Sugerencias</a>

  </div>
    </div>
  </div>
{{/partial}}

{{> layout.hbs}}