{{#partial "wizardPrenda" }}
   
  <div class="input-group row spacer col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-wrap d-flex justify-content-center ">
 
  <div class="custom-file col-lg-6 d-flex justify-content-center  mt-4 d-none d-md-flex col-md-4">
    <input type="file" class="custom-file-input" id="inputGroupFile01"
      aria-describedby="inputGroupFileAddon01">
    <label class="custom-file-label" for="inputGroupFile01">Elegir Imagen</label>
  </div>
</div>
{{/partial}}

{{> creadorPrendas.hbs}}